<div class="container mt-5 postContainer">
    <div class="row row-cols-1">
        <div class="col align-self-center py-3 d-flex justify-content-center">
            <div class="card w-75 text-white bg-secondary border-light">
                <div class="card-header">
                    <a class="link-light" href="/post/{{id}}">
                        <h4 class="display-4">{{name}}</h4>
                    </a>
                    <p class="card-text"><small class="text-white">Posted by {{user.username}} <cite
                                title="Source Title">{{format_date createdAt}}</cite></small></p>
                </div>
                <div class="card-body">
                    <p class="h5">{{post_content}}</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <button class="btn btn-sm btn-danger delete-post-btn mb-2" data-id="{{post.id}}">DELETE</button>
        </div>

        {{#if comments.length}}
        {{#each comments as |comment|}}
        {{> comment}}
        {{/each}}
        {{/if}}

        <div class="col d-flex justify-content-center mt-5">
            <form id="commentDescription" data-attr="{{id}}" class="form form-floating w-25 new-comment">
                <textarea class="form-control bg-secondary" placeholder="Leave a comment here"
                    id="commentDesc"></textarea>
                <label class="text-white" for="commentDesc">Comment</label>
                <div class="col-12 d-flex justify-content-end mt-2">
                    <button type="submit" value="{{id}}" class="btn btn-secondary">Submit</button>
                </div>
            </form>
        </div>
    </div>

</div>

<script src="/javascript/comment.js"></script>
<script src="/javascript/deletePost.js"></script>